<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">Lista de cursos aqui:</div>
<div *ngIf="cursos.length == 0">Não existem cursos para listar...</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder</button>


<div *ngIf="mostrarCursos">Frase</div>
<div *ngIf="!mostrarCursos">Não existem Cursos</div>
<br><br>

<h5>Hidden como alternativa -> Menos custoso para nao destruir o obj DOM</h5>


<div [hidden]="!mostrarCursos">Frase</div>
<div [hidden]="mostrarCursos">Não existem Cursos</div>