<h5>Exemplos de pipes:</h5>

<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'2.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data de Lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<br>

<h5>Digite o nome do livro para adicionar:</h5>
<input type="text" #livroInput>
<button (click)="addLivro(livroInput.value)">Adicionar livro</button>

<ul>
    <li *ngFor="let liv of livros">
        {{ liv }}
    </li>
</ul>



<h5>Digite o nome do livro para filtrar:</h5>
<input type="text" [(ngModel)]="filtro"/>
<ul>
    <li *ngFor="let liv of obterLivros()">
        {{ liv }}
    </li>
</ul>

<h5>Buscando valores assincronos com Promise:</h5>

<p>{{ livroBuscaAsync | async}}</p> <!-- Esse pipe async pega somente o valor do objeto Promise-->
<p>{{ livroBuscaAsyncObservable | async}}</p> <!-- Esse pipe async pega somente o valor do objeto Observable-->