<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-md-12">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="nome"
        formControlName="nome"
      />

      <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório."></app-campo-control-erro> com método implementado no typescript-->
      <!-- ou usar uma div com *ngIf ou formulario.get('nome').valid tbm funfa -->
      <!-- <app-campo-control-erro
        [mostrarErro]="
          !formulario.controls['nome'].valid &&
          formulario.controls['nome'].touched
        "
        msgErro="Nome é obrigatório."
      ></app-campo-control-erro> -->

      <!-- Criado novo componente de erros que encapsula + coisas e evita duplicação de codigo e padroniza as msgs-->

      <app-error-msg [control]="formulario.controls['nome']" label="Nomeeeeeee"></app-error-msg>

    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group" [ngClass]="aplicaCssErro('email')">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="nome@email.com"
        formControlName="email"
      />

      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('email')"
        msgErro="E-mail é obrigatório."
      ></app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="verificaEmailInvalido()"
        msgErro="E-mail invalido."
      ></app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="formulario.get('email')?.status === 'PENDING'"
        msgErro="Validando E-mail..."
      ></app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="formulario.get('email')?.status === 'VALID'"
        msgErro="E-mail válido!"
      ></app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="formulario.get('email')?.hasError('emailInvalido')"
        msgErro="E-mail já cadastrado!"
      ></app-campo-control-erro>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group" [ngClass]="aplicaCssErro('confirmarEmail')">
      <label for="confirmarEmail" class="form-label">Confirmar E-mail</label>
      <input
        type="email"
        class="form-control"
        id="confirmarEmail"
        placeholder="nome@email.com"
        formControlName="confirmarEmail"
      />

      <app-campo-control-erro
        [mostrarErro]="formulario.get('confirmarEmail')?.hasError('equalsTo')"
        msgErro="E-mails não são iguais!."
      ></app-campo-control-erro>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.cep')">
      <label for="cep" class="form-label">Cep</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="cep"
        formControlName="cep"
        (blur)="consultaCep()"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaRequired('endereco.cep')"
        msgErro="Cep é obrigatório."
      ></app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="formulario.get('endereco.cep')?.hasError('cepInvalido')"
        msgErro="Cep Inválido. Validação customizada implementada! Só aceita 8 digitos! Ver pattern com regex"
      ></app-campo-control-erro>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.numero')">
      <label for="numero" class="form-label">Número</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="numero"
        formControlName="numero"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('endereco.numero')"
        msgErro="Numero é obrigatório."
      ></app-campo-control-erro>
    </div>

    <div class="col-md-6">
      <label for="complemento" class="form-label">Complemento</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="complemento"
        formControlName="complemento"
      />
    </div>

    <div class="col-md-12" [ngClass]="aplicaCssErro('endereco.rua')">
      <label for="rua" class="form-label">Rua</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="rua"
        formControlName="rua"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('endereco.rua')"
        msgErro="Rua é obrigatório."
      ></app-campo-control-erro>
    </div>

    <div class="col-md-5" [ngClass]="aplicaCssErro('endereco.bairro')">
      <label for="bairro" class="form-label">Bairro</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="bairro"
        formControlName="bairro"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('endereco.bairro')"
        msgErro="Bairro é obrigatório."
      ></app-campo-control-erro>
    </div>

    <div class="col-md-4" [ngClass]="aplicaCssErro('endereco.cidade')">
      <label for="cidade" class="form-label">Cidade</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="cidade"
        formControlName="cidade"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('endereco.cidade')"
        msgErro="Cidade é obrigatório."
      ></app-campo-control-erro>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.estado')">
      <label for="estado" class="form-label">Estado</label>
      <select
        class="form-control"
        aria-describedby="estado"
        formControlName="estado"
      >
        <option *ngFor="let estado of estados | async" [value]="estado.sigla">
          {{ estado.nome }}
        </option>
      </select>
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('endereco.estado')"
        msgErro="Estado é obrigatório."
      ></app-campo-control-erro>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3" [ngClass]="aplicaCssErro('cargo')">
      <label for="cargo" class="form-label">Cargo</label>
      <select
        class="form-control"
        aria-describedby="cargo"
        formControlName="cargo"
        [compareWith]="compararCargos"
      >
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">
          {{ cargo.desc }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-3" [ngClass]="aplicaCssErro('tecnologias')">
    <label for="tecnologias" class="form-label">Tecnologias</label>
    <select
      multiple
      class="form-control"
      aria-describedby="tecnologias"
      formControlName="tecnologias"
    >
      <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">
        {{ tecnologia.desc }}
      </option>
    </select>
  </div>

  <div class="col-md-6" [ngClass]="aplicaCssErro('newsletter')">
    <label for="newsletter" class="form-label">Newsletter</label>
    <div id="newsletter" class="row">
      <div class="col-sm-6" *ngFor="let item of newsletter">
        <label class="radio-inline">
          <input
            type="radio"
            formControlName="newsletter"
            [value]="item.valor"
          />
          {{ item.desc }}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3" [ngClass]="aplicaCssErro('termos')">
      <div class="checkbox">
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="termos" /> Aceito os termos.
        </label>
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('termos')"
          msgErro="Termos é obrigatório."
        ></app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="col-md-3" [ngClass]="aplicaCssErro('frameworks')">
    <label for="frameworks">Frameworks</label>
    <div id="frameworks" class="row">
      <div
        class="checkbox"
        class="col-sm-4"
        formArrayName="frameworks"
        *ngFor="let item of getFrameworksControls(); let i = index"
      >
        <label class="checkbox-inline">
          <input type="checkbox" [formControlName]="i" /> {{ frameworks[i] }}
        </label>
      </div>
      <app-campo-control-erro
        [mostrarErro]="!formulario.get('frameworks')?.valid"
        msgErro="Selecione 1 opção."
      ></app-campo-control-erro>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mb-3">Submit</button>
  <button class="btn btn-default" (click)="resetar()">Cancel</button>
  <button class="btn btn-info" (click)="setarCargo()">Setar Cargo</button>
  <button class="btn btn-info" (click)="setarTecnologias()">
    Setar Tecnologia
  </button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
